<p> Hola </p>
<form action="/add_person" method="post">
  <input type="text" name="name" placeholder="name"/>
  <input type="text" name="lastname" placeholder="last name"/>
  <input type="submit"/>
</form>
